@import "vars";


/*==========  Desktop First  ==========*/

// ≥1320px
@include media-breakpoint-down(lg) {

/*  art-of-cakes
========================================== */
	.art-of-cakes{
		&__print{
			font-size: 24px;
			line-height: 30px;
		}
	}

/*  pancakes
========================================== */
	.pancakes{
		.ready-in{
			width: 180px;
			height: 180px;
			top: -40px;
			right: -90px;
		}
	}


/*  breakfast
========================================== */
	.breakfast{
		background-position-x: center;
		.breakfast-sheet{
			height: 608px;
			padding: 188px 89px 0 59px;
		}
	}

}

// ≥992px
@include media-breakpoint-down(md) {

/*  header
========================================== */
	.header{
		&__slogan{
			font-size: 78px;
		}
		&__dashed-line{
			margin: 55px 0;
		}
	}

/*  art-of-cakes
========================================== */
	.art-of-cakes{
		&__print{
			font-size: 30px;
			line-height: 36px;
		}
		.chef-cook{
			&__slogan{
				margin: 40px auto 30px auto;
			}
		}
	}

/*  pancakes
========================================== */
	.pancakes{
		&__wrap{
			max-width: 636px;
		}
		&__aside{
			min-height: 250px;
			max-width: 546px;
			box-shadow: 0 15px 70px rgba(127, 106, 95, .6);
		}
		&__content{
			box-shadow: 0 15px 70px rgba(127, 106, 95, .7);
		}
		&__text{
			margin-top: 30px;
		}
		.ready-in{
			width: 180px;
			height: 180px;
			top: -90px;
			right: -90px;
		}
	}


/*  breakfast
========================================== */

	.breakfast{
		&__subtitle{
			text-shadow: 0 0 10px $dark;
		}
		.breakfast-sheet{
			height: 642px;
			margin: 30px auto 0 auto;
			padding: 218px 89px 0 59px;
		}
	}

}

// ≥768px
@include media-breakpoint-down(sm) {

/*  header
========================================== */
	.header{
		&__slogan{
			font-size: 70px;
		}
		&__dashed-line{
			margin: 50px 0;
		}
		&__btn{
			margin: 50px 0 0 0;
		}
	}

/*  navbar-mobile
========================================== */
	.navbar-mobile {
		&__link{
			&:hover{
				color: $text;
				text-decoration: none;
				background: none;
			}
			&:active{
				color: $light;
				background-color: $hover-menu-mobile;
			}
		}
	}

/*  social
========================================== */
	.social-mobile{
	    &__icon{
			&:hover{
				color: $text;
				text-decoration: none;
			}
			&:active{
				color: $hover-menu-mobile;
			}
	    }
	}

/*  art-of-cakes
========================================== */
	.art-of-cakes{
		&__print{
			font-size: 27px;
			line-height: 33px;
		}
	}

/*  pancakes
========================================== */
	.pancakes{
		&__title{
			font-size: 40px;
		}
		.ready-in{
			width: 140px;
			height: 140px;
			top: -70px;
			right: -42px;
			&__title{
				font-size: 16px;
			}
			&__num{
				font-size: 70px;
			}
			&__min{
				font-size: 17px;
			}
		}
	}

}

// ≥576px
@include media-breakpoint-down(xs) {

/*  header
========================================== */
	.header{
		&__inner{
			min-height: calc(100vh - 94.5px);
		}
		&__slogan{
			font-size: 13vw;
		}
		&__dashed-line{
			margin: 25px 0;
		}
		&__text{
			font-size: 20px;
		}
		&__btn{
			margin: 60px 0 0 0;
		}
		&__print{
			width: 57px;
			height: 53px;
			margin: auto auto -28.5px auto;
			&::before{
				width: calc(50vw - 28.5px);
				right: 57px;
				height: 53px;
			}
			&::after{
				width: calc(50vw - 28.5px);
				left: 57px;
				height: 53px;
			}
		}
	}

/*  art-of-cakes
========================================== */
	.art-of-cakes{
		&__img-wr{
			padding: 6px;
		}
		&__print{
			font-size: 4.8vw;
			line-height: 5.9vw;
		}
		.chef-cook{
			&__text{
				font-size: 20px;
			}
		}
	}

/*  pancakes
========================================== */
	.pancakes{
		&__aside{
			max-width: none;
		}
		&__content{
			max-width: none;
			padding: 120px 30px 40px 30px
		}
		&__title{
			font-size: 8vw;
		}
		&__text{
			// margin-top: 30px;
		}
		.slides{
			max-width: none;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
		}
		.ready-in{
			right: 30px;
		}
	}

/*  breakfast
========================================== */

	.breakfast{
		overflow: hidden;
		.breakfast-sheet{
			height: 122vw;
			padding: 36vw 79px 0 49px;
			margin-right: auto;
			&__title{
				font-size: 7vw;
				line-height: 9vw;
			}
			&__text{
				font-family: 'ProximaNova';
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0.5px;
				line-height: 5vw;
				margin-top: 9vw;

			}
			&__btn{
				font-size: 16px;
				font-weight: 700;
				line-height: 30px;
				margin: 9vw auto 0 auto;
				text-transform: uppercase;
				color: $breakfast-sheet-btn-text;
				cursor: pointer;
				padding: 6px;
				max-width: 160px;
				border: 1px solid $breakfast-sheet-btn-border;
			}
		}
	}

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}
