@import "vars";


/*==========  Desktop First  ==========*/

// ≥1320px
@include media-breakpoint-down(lg) {

/*  art-of-cakes
========================================== */
	.art-of-cakes{
		&__print{
			font-size: 24px;
			line-height: 30px;
		}
	}

/*  pancakes
========================================== */
	.ready-in{
		width: 180px;
		height: 180px;
		top: -40px;
		right: -90px;
	}

}

// ≥992px
@include media-breakpoint-down(md) {

/*  header
========================================== */
	.header{
		&__slogan{
			font-size: 78px;
		}
		&__dashed-line{
			margin: 55px 0;
		}
	}

/*  art-of-cakes
========================================== */
	.art-of-cakes{
		&__print{
			font-size: 30px;
			line-height: 36px;
		}
		.chef-cook{
			&__slogan{
				margin: 40px auto 30px auto;
			}
		}
	}

/*  pancakes
========================================== */
	.pancakes{
		&__wrap{
			max-width: 636px;
		}
		&__aside{
			min-height: 250px;
			max-width: 546px;
			box-shadow: 0 15px 70px rgba(127, 106, 95, .6);
		}
		&__content{
			box-shadow: 0 15px 70px rgba(127, 106, 95, .7);
		}
		&__text{
			margin-top: 30px;
		}
	}
	.ready-in{
		width: 180px;
		height: 180px;
		top: -90px;
		right: -90px;
	}

}

// ≥768px
@include media-breakpoint-down(sm) {
	.header{
		&__slogan{
			font-size: 70px;
		}
		&__dashed-line{
			margin: 50px 0;
		}
		&__btn{
			margin: 50px 0 0 0;
		}
	}

	.navbar-mobile {
		&__link{
			&:hover{
				color: $text;
				text-decoration: none;
				background: none;
			}
			&:active{
				color: $light;
				background-color: $hover-menu-mobile;
			}
		}
	}

	.social-mobile{
	    &__icon{
			&:hover{
				color: $text;
				text-decoration: none;
			}
			&:active{
				color: $hover-menu-mobile;
			}
	    }
	}

/*  art-of-cakes
========================================== */
	.art-of-cakes{
		&__print{
			font-size: 27px;
			line-height: 33px;
		}
	}

/*  pancakes
========================================== */

	.pancakes{
		&__title{
			font-size: 40px;
		}
	}

}

// ≥576px
@include media-breakpoint-down(xs) {
	.header{
		&__inner{
			min-height: calc(100vh - 94.5px);
		}
		&__slogan{
			font-size: 13vw;
		}
		&__dashed-line{
			margin: 25px 0;
		}
		&__text{
			font-size: 20px;
		}
		&__btn{
			margin: 60px 0 0 0;
		}
		&__print{
			width: 57px;
			height: 53px;
			margin: auto auto -28.5px auto;
			&::before{
				width: calc(50vw - 28.5px);
				right: 57px;
				height: 53px;
			}
			&::after{
				width: calc(50vw - 28.5px);
				left: 57px;
				height: 53px;
			}
		}
	}

/*  art-of-cakes
========================================== */
	.art-of-cakes{
		&__img-wr{
			padding: 6px;
		}
		&__print{
			font-size: 4.8vw;
			line-height: 5.9vw;
		}
		.chef-cook{
			&__text{
				font-size: 20px;
			}
		}
	}

/*  pancakes
========================================== */
	.pancakes{
		&__aside{
			max-width: none;
		}
		&__content{
			max-width: none;
			padding: 120px 30px 40px 30px
		}
		&__title{
			font-size: 8vw;
		}
		&__text{
			// margin-top: 30px;
		}
	}
	.ready-in{
		width: 140px;
		height: 140px;
		top: -70px;
		right: 30px;
		&__title{
			font-size: 16px;
		}
		&__num{
			font-size: 70px;
		}
		&__min{
			font-size: 16px;
		}
	}

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}
