$default-font: "Alegreya", sans-serif;
$accent: #564f4c;
$text: #56534c;
$light: #fff;
$dark: #000;
$text-shadow: #3d3029;
$navbar: rgba(86, 83, 76, 0.5);
$navbar-mobile: #e2ddd3;
$hover-menu-mobile: #604941;
$title-dark: #56534c;
$title-light: #fff;
$subtitle: #a47d5e;
$chef-cook-border: #d7d5ca;
$breakfast-subtitle: #c8a593;
$breakfast-menu-text: #c2beba;
$breakfast-menu-cost: #dfc691;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1320px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1290px);

$gutter: $grid-gutter-width;
