@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1;
	font-family: $default-font;
	font-weight: 700;
	overflow-x: hidden;
	color: $text;
	letter-spacing: 1px;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
	&.overflow {
    	overflow: hidden;
  	}
}

ul{
	list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.img-responsive {
	display: inline-block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-left{
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.p-0{
	padding: 0;
}

b, strong {
	font-weight: bold;
}

.title{
	color: $title-dark;
	font-size: 48px;
}
.subtitle{
	color: $subtitle;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}


/*  header
========================================== */

.header{
	background: url('../img/main_bg.jpg') $accent left no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	color: $light;
	&__inner{
		min-height: calc(100vh - 119px);
		position: relative;
		z-index: 100;
		text-align: center;
		padding: 49px 0;
		&::after{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: inherit;
			height: 100%;
			z-index: -1;
			background: url('../img/main_shadow.png') center no-repeat;
			background-size: contain;
		}
	}
	&__slogan{
		text-shadow: 0 1px 0 $slogan-shadow;
		font-family: PlayfairDisplay;
		font-size: 92px;
		font-weight: 700;
		margin: 0;
		letter-spacing: 7px;
		position: relative;
		width: 100%;

	}
	&__dashed-line{
		width: 190px;
		height: 12px;
		background: url('../img/main_dashed-line.png') no-repeat;
		margin: 65px 0 65px 0;
	}
	&__text{
		text-shadow: 0 1px 0 #3d3029;
		font-family: ProximaNova;
		font-size: 24px;
		font-weight: 400;
		line-height: 36px;
		max-width: 560px;
		letter-spacing: 2px;
		width: 100%;
	}
	&__btn{
		background-color: $navbar;
		border: 1px dashed #9e9c93;
		font-size: 14px;
		font-weight: 700;
		line-height: 50px;
		height: 50px;
		padding: 0 50px;
		cursor: pointer;
		letter-spacing: 3px;
		text-transform: uppercase;
		display: inline-block;
		margin: 65px 0 0 0;
		transition: background-color .2s;
		&:hover{
			background-color: darken($navbar, 10%);
		}
	}
	&__print{
		background: url('../img/main_print.png') no-repeat;
		background-size: contain;
		width: 114px;
		height: 106px;
		position: relative;
		margin: auto auto -57px auto;
		z-index: 300;
		&::before{
			content: "";
			position: absolute;
			background: url('../img/main_print-border.png');
			background-size: contain;
			width: calc(50vw - 57px);
			right: 114px;
			height: 106px;
		}
		&::after{
			content: "";
			position: absolute;
			background: url('../img/main_print-border.png');
			background-size: contain;
			width: calc(50vw - 57px);
			left: 114px;
			height: 106px;
		}
	}
}


/*  navbar
========================================== */

.navbar{
	background-color: $navbar;
	color: $light;
	font-size: 14px;
	&_inner{
		height: 70px;
	}
	&__menu-btn{
		font-size: 40px;
		cursor: pointer;
	}
	&__overlay{
		// z-index: 1000;
	}
}



/*  navbar-mobile
========================================== */
.navbar-mobile-wr{
	position: absolute;
	top: 0;
  	left: 0;
  	right: 0;
  	max-height: 100vh;
  	width: 100%;
	max-width: 380px;
  	min-width: 320px;
  	margin: 0 auto;
  	display: none;
  	padding: 0 10px 15px 10px;
  	z-index: 500;
  	overflow-y: scroll;

  	/*-hide scrollbar-*/
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  	&::-webkit-scrollbar { /* WebKit */
    	width: 0;
	}
}


.navbar-mobile {
	background: $navbar-mobile;
	font-size: 26px;
  	padding: 60px 0 40px 0;
  	margin: 70px auto 0 auto;
  	box-shadow: 0 40px 50px -40px #333 inset, 0 6px 20px -6px #111;
  	&__item{
		line-height: 48px;
		margin: 0;
		overflow: hidden;
  	}
	&__link{
		color: $text;
		display: block;
		padding: 0 30px;
		font-weight: 400;
		letter-spacing: 3px;
		text-transform: uppercase;
		&:hover{
			color: $light;
			background-color: $hover-menu-mobile;
			text-decoration: none;
		}
	}
}


/*  logo
========================================== */

.logo{
	width: 140px;
	display: inline-block;
	margin-top: 10px;
}


/*  menu
========================================== */

.menu{
	&__wrap{
	    max-width: 770px;
    	margin: 0px auto;
	}
    &__item{
    	display: inline-block;
    }
	&__link{
		font-size: 14px;
		color: $light;
		font-weight: 400;
		letter-spacing: 3px;
		text-transform: uppercase;
		&:hover{
			color: darken($light, 10%);
			text-decoration: none;
		}
	}
}

/*  social
========================================== */

.social{
	width: 140px;
	text-align: right;
	&_size{
		font-size: 17px;
	}
    &__item{
    	display: inline-block;
    	padding-right: 25px;
    	&:last-child{
    		padding-right: 0;
    	}
    }
    &__icon{
    	color: $light;
		&:hover{
			color: darken($light, 10%);
			text-decoration: none;
		}
    }
}

.social-mobile{
	width: auto;
	text-align: center;
	margin-top: 25px;
    &__item{
    	display: inline-block;
    	padding-right: 35px;
    	&:last-child{
    		padding-right: 0;
    	}
    }
    &__icon{
    	color: $text;
		&:hover{
			color: $hover-menu-mobile;
			text-decoration: none;
		}
    }
}


/*  burger menu
========================================== */

.burger {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  z-index: 600;
  position: relative;

  span {
    @include burger(30px, 3px, 6px, $light);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
  }

  &.clicked {
    span {
      @include burger-to-cross;

      &:before, &:after {
        background-color: $light;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}


/*  overlay
========================================== */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 350;
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
  background-color: $dark;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  &.show {
    opacity: .4;
    visibility: visible;
  }
}


/*  art-of-cakes
========================================== */

.art-of-cakes{
	background: url('../img/art-of-cakes_bg.jpg') #fefdfc no-repeat;
	background-size: cover;
	padding: 100px 0;
	text-align: center;
	&__desc{
		font-family: 'ProximaNova';
		line-height: 24px;
		margin-top: 62px;
		font-weight: 400;
	}
	&__imgs-wr{
		position: relative;
	}
	&__img-wr{
		padding: 10px;
	}
	&__img{
		outline: 5px solid $light;
		outline-offset: -11px;
	}
	&__print{
		width: 45%;
		height: 45%;
		opacity: .97;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background: url('../img/art-of-cakes_print.png') center no-repeat;
		background-size: contain;
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
		color: $art-of-cakes-print;
		text-transform: uppercase;
	}
	.chef-cook{
		font-size: 24px;
		font-weight: 400;
		margin-top: 37px;
		&__title{
			font-weight: 700;
			margin-bottom: 40px;
		}
		&__text{
			border-top: 1px solid $chef-cook-border;
			border-bottom: 1px solid $chef-cook-border;
			padding: 12px;
			&_left{
				padding: 12px 12px 12px 24px;
			}
		}
		&__avatar{
			border-radius: 50%;
			width: 100px;
			height: 100px;
			border: 5px solid $light;
			overflow: hidden;
			margin: 0 auto;
		}
		&__slogan{
			font-family: 'Scriptina';
			color: $subtitle;
			margin: 40px auto 0 auto;
			letter-spacing: 0;
			max-width: 320px;
		}
	}
}


/*  pancakes
========================================== */

.pancakes{
	background: url('../img/pancakes_bg.jpg') #e5e6e0 no-repeat;
	background-size: cover;
	padding: 140px 0 100px 0;
	box-shadow: 0 8px 16px rgba(0, 0, 0, .3),
				inset 0 6px 12px rgba(0, 0, 0, .1);
	position: relative;

	z-index: 100;
	&__wrap{
		max-width: 1066px;
		margin: 0 auto;
	}
	&__aside{
		background: url('../img/pancakes_aside.jpg') #ae9e9e no-repeat;
		background-size: cover;
		background-position: 61%;
		width: 100%;
		box-shadow: -5px 15px 70px rgba(127, 106, 95, .6);
	}
	&__content{
		background: url('../img/pancakes_mill.png') #fff bottom right no-repeat;
		position: relative;
		padding: 70px 60px 40px 60px;
		max-width: 576px;
		box-shadow: 5px 15px 70px rgba(127, 106, 95, .7);
	}
	&__text{
		font-family: 'ProximaNova';
		font-size: 14px;
		line-height: 24px;
		margin-top: 60px;
		font-weight: 400;
	}

	.slides{
		max-width: 360px;
	    margin: 100px auto 0 auto;
		&__img{
			border-radius: 50%;
			margin: 0 auto;
		}
		.slick-prev {
		    &:before {
		        content: $fa-var-angle-left;
		        font-family: FontAwesome;
		    }
		}

		.slick-next {
		    &:before {
		        content: $fa-var-angle-right;
		        font-family: FontAwesome;
		    }
		}
	}

	.ready-in{
		background: url('../img/ready-in.png') #fff left top no-repeat;
		background-position: cover;
		width: 180px;
		height: 180px;
		position: absolute;
		top: -40px;
		right: -90px;
		box-shadow: 0 10px 70px rgba(127, 106, 95, .7);
		&__title{
			color: $subtitle;
			font-size: 18px;
			text-transform: uppercase;
		}
		&__num{
			color: $ready-in-num;
			font-size: 92px;
		}
		&__min{
			color: $ready-in-min;
			font-size: 18px;
		}
	}
}


/*  breakfast
========================================== */

.breakfast{
	background: url('../img/breakfast_bg.jpg') #434757 no-repeat;
	background-size: cover;
	background-position-x: right;
	padding: 100px 0;
	text-align: center;
	position: relative;
	&::after{
		content: "";
		background: url('../img/breakfast_wheat.png') no-repeat;
		background-size: contain;
		width: 100%;
		max-width: 346px;
		height: 204px;
		position: absolute;
		right: 0px;
		bottom: 75px;
		opacity: .6;
	}
	&__title{
		color: $title-light;
		font-size: 60px;
	}
	&__subtitle{
		color: $breakfast-subtitle;
		font-size: 18px;
		line-height: 30px;
		text-transform: uppercase;
		text-shadow: 0 0 3px $dark;
	}
	.breakfast-menu{
		margin-top: 55px;
		position: relative;
		&:last-child{
			&::after{
				display: none;
			}
		}
		&::after{
			content: "";
			position: absolute;
			bottom: -40px;
			left: 0;
			right: 0;
			margin: auto;
			width: 90px;
			height: 27px;
			background: url('../img/breakfast_separator.png') no-repeat;
		}
		&__title{
			color: $light;
			font-size: 30px;
		}
		&__text{
			color: $breakfast-menu-text;
			font-family: 'ProximaNova';
			font-size: 16px;
			font-weight: 400;
			line-height: 40px;
		}
		&__cost{
			color: $breakfast-menu-cost;
			font-size: 36px;
			font-weight: 400;
			line-height: 50px;
		}
	}
	.breakfast-sheet{
		background: url('../img/breakfast_sheet.png') center no-repeat;
		background-size: contain;
		max-width: 508px;
		height: 642px;
		padding: 218px 89px 0 59px;
		margin: 0 auto;
		position: relative;
		&__title{
			font-size: 44px;
			line-height: 55px;
		}
		&__text{
			font-family: 'ProximaNova';
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.5px;
			line-height: 30px;
			margin-top: 40px;

		}
		&__btn{
			font-size: 18px;
			font-weight: 700;
			line-height: 30px;
			margin: 40px auto 0 auto;
			text-transform: uppercase;
			color: $breakfast-sheet-btn-text;
			cursor: pointer;
			padding: 10px;
			max-width: 190px;
			border: 1px solid $breakfast-sheet-btn-border;
			transition: all .2s;
			position: relative;
			z-index:100;
			&:hover{
				color: $text;
			}
		}
	}
}


/*  sandwich
========================================== */

.sandwich{
	background: url('../img/sandwich_bg-top.png') $sandwich-bg center top no-repeat;
	padding: 100px 0;
	text-align: center;
	.composition{
		margin-bottom: 55px;
		&:last-child{
			margin-bottom: 0;
		}
		&__img{
			border-radius: 50%;
			width: 100px;
			height: 100px;
			overflow: hidden;
			margin: 0 auto;
			box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
		}
		&__title{
			font-size: 30px;
			font-weight: 700;
			color: $composition-title;
			margin-top: 20px;
		}
		&__text{
			font-family: 'ProximaNova';
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			margin-top: 20px;
		}
	}
	.recipe{
		background: url('../img/sandwich.jpg') center no-repeat;
		background-size: cover;
		border: 10px solid white;
		box-shadow: 0 5px 18px rgba(127, 106, 95, .2);
		position: relative;
		&__wrap{
			margin: -33px 0;
		}
		&__times{
			background: $light;
			opacity: .8;
			width: 200px;
			height: 200px;
			letter-spacing: 2px;
			margin-top: 1px;
			&:first-child{
				margin-top: 0;
			}
		}
		&__ready-in{
			background: url('../img/ready-in.png') $light no-repeat;
			background-position: cover;
			width: 200px;
			height: 200px;
			letter-spacing: 2px;
		}
		&__title{
			color: #a47d5e;
			font-size: 18px;
			text-transform: uppercase;
		}
		&__num{
			color: #56534c;
			font-size: 60px;
			line-height: 72px;
			text-transform: uppercase;
		}
		&__num-ready-in{
			color: $ready-in-num;
			font-size: 92px;
		}
		&__min{
			color: #979285;
			font-size: 18px;
		}
		&__btn{
			position: absolute;
			bottom: -33px;
			left: -33px;
			border: 1px dashed $recipe-btn;
			background: $light;
			color: $recipe-btn;
			font-size: 18px;
			line-height: 30px;
			padding: 14px 27px;
			display: inline-block;
			text-transform: uppercase;
			cursor: pointer;
			transition: all .2s;
			&:hover{
				color: $text;
			}
		}
	}
}


/*  footer
========================================== */

.footer{
	background: $footer-bg;
	padding: 10px 0 55px 0;
	&__logo{
		width: 140px;
    	display: inline-block;
	}
	&__list{
		border-top: 1px solid $footer-border;
		border-bottom: 1px solid $footer-border;
		padding: 25px 40px;
	}
	&__link{
		color: $text;
		letter-spacing: 4px;
		font-size: 14px;
		line-height: 24px;
		text-transform: uppercase;
		&:hover{
			color: $footer-link-hover;
			text-decoration: none;
		}
	}
	.copy{
		padding: 30px 0 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
		&__text{
			font-size: 15px;
		}
		&__nowrap{
			white-space: nowrap;
		}
		&__gre {
			width: 36px;
			margin: 0 10px;
			display: inline-block;
			opacity: .7;
			transition: opacity .3s;
			&:hover{
				opacity: .9;
			}
		}

	}
}

// background-color: #c2beba;
// box-shadow: 0 35px 17.6px 25.4px rgba(0, 0, 0, 0.38);

@import "media"; // Always at the end
