@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1;
	font-family: $default-font;
	font-weight: 700;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
	&.overflow {
    	overflow: hidden;
  	}
}

ul{
	list-style: none;
    margin: 0;
    padding: 0;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

b, strong {
	font-weight: bold;
}


/*  header
========================================== */

.header{
	// min-height: calc(100vh - 57px);
	background: url('../img/main_bg.jpg') $accent left no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	color: $light;
	&__inner{
		min-height: calc(100vh - 176px);
		position: relative;
		z-index: 100;
		text-align: center;
		padding: 49px 0;
		&::after{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: inherit;
			height: 100%;
			z-index: -1;
			background: url('../img/main_shadow.png') center no-repeat;
			background-size: contain;
		}
	}
	&__slogan{
		text-shadow: 0 1px 0 $text-shadow;
		font-family: PlayfairDisplay;
		font-size: 92px;
		font-weight: 700;
		margin: 0;
		letter-spacing: 7px;
		position: relative;
		width: 100%;

	}
	&__dashed-line{
		width: 190px;
		height: 12px;
		background: url('../img/main_dashed-line.png') no-repeat;
		margin: 65px 0 65px 0;
	}
	&__text{
		text-shadow: 0 1px 0 #3d3029;
		font-family: ProximaNova;
		font-size: 24px;
		font-weight: 400;
		line-height: 36px;
		max-width: 560px;
		letter-spacing: 2px;
		width: 100%;
	}
	&__btn{
		background-color: $navbar;
		border: 1px dashed #9e9c93;
		font-size: 14px;
		font-weight: 700;
		line-height: 50px;
		height: 50px;
		padding: 0 50px;
		cursor: pointer;
		letter-spacing: 3px;
		text-transform: uppercase;
		display: inline-block;
		margin: 65px 0 0 0;
		transition: background-color .2s;
		&:hover{
			background-color: darken($navbar, 10%);
		}
	}
	&__print{
		background: url('../img/main_print.png') no-repeat;
		background-size: contain;
		width: 114px;
		height: 106px;
		position: relative;
		margin: auto auto -57px auto;
		z-index: 300;
		&::before{
			content: "";
			position: absolute;
			background: url('../img/main_print-border.png');
			background-size: contain;
			width: calc(50vw - 57px);
			right: 114px;
			height: 106px;
		}
		&::after{
			content: "";
			position: absolute;
			background: url('../img/main_print-border.png');
			background-size: contain;
			width: calc(50vw - 57px);
			left: 114px;
			height: 106px;
		}
	}
}


/*  navbar
========================================== */

.navbar{
	background-color: $navbar;
	color: $light;
	font-size: 14px;
	&_inner{
		height: 70px;
	}
	&__menu-btn{
		font-size: 40px;
		cursor: pointer;
	}
	&__overlay{
		z-index: 1000;
	}
}



/*  navbar-mobile
========================================== */

.navbar-mobile {
	background: $navbar-mobile;
	position: absolute;
	font-size: 26px;
  	top: 70px;
  	padding: 60px 0 40px 0;
  	left: 0;
  	right: 0;
  	width: 100%;
  	max-width: 380px;
  	min-width: 320px;
  	margin: 0 auto;
  	display: none;
  	z-index: 500;
  	box-shadow: 0 40px 40px -40px #333 inset, 0 6px 20px -6px #111;
  	&__item{
		line-height: 48px;
		margin: 0;
		overflow: hidden;
  	}
	&__link{
		color: $text;
		display: block;
		padding: 0 30px;
		font-weight: 400;
		letter-spacing: 3px;
		text-transform: uppercase;
		&:hover{
			color: $light;
			background-color: $hover-menu-mobile;
			text-decoration: none;
		}
	}
}


/*  logo
========================================== */

.logo{
	width: 140px;
	display: inline-block;
	margin-top: 10px;
}


/*  menu
========================================== */

.menu{
	&__wrap{
	    max-width: 770px;
    	margin: 0px auto;
	}
    &__item{
    	display: inline-block;
    }
	&__link{
		font-size: 14px;
		color: $light;
		font-weight: 400;
		letter-spacing: 3px;
		text-transform: uppercase;
		&:hover{
			color: darken($light, 10%);
			text-decoration: none;
		}
	}
}

/*  social
========================================== */

.social{
	width: 140px;
	text-align: right;
	&_size{
		font-size: 17px;
	}
    &__item{
    	display: inline-block;
    	padding-right: 25px;
    	&:last-child{
    		padding-right: 0;
    	}
    }
    &__icon{
    	color: $light;
		&:hover{
			color: darken($light, 10%);
			text-decoration: none;
		}
    }
}

.social-mobile{
	width: auto;
	text-align: center;
	margin-top: 25px;
    &__item{
    	display: inline-block;
    	padding-right: 35px;
    	&:last-child{
    		padding-right: 0;
    	}
    }
    &__icon{
    	color: $text;
		&:hover{
			color: $hover-menu-mobile;
			text-decoration: none;
		}
    }
}


/*  burger menu
========================================== */

.burger {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  z-index: 10;

  span {
    @include burger(30px, 3px, 6px, $light);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
  }

  &.clicked {
    span {
      @include burger-to-cross;

      &:before, &:after {
        background-color: $light;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}


/*  overlay
========================================== */

.overlay {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 350;
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
  background-color: $dark;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  &.show {
    opacity: .5;
    visibility: visible;
  }
}


/*  art-of-cakes
========================================== */

.art-of-cakes{
	height: 600px;
	background: url('../img/art-of-cakes_bg.jpg') #fefdfc no-repeat;
	background-size: cover;
}

@import "media"; // Always at the end
